/* @media (max-width: 1200px) {
  .cards {
    flex-direction: column;
    width: 70%;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
} */
