.header {
  height: 90vh;
  padding-top: 30vh;
}

.header-container-project {
  color: white;
  width: 100vw;
}
.header-container-project img {
  transform: scaleX(-1);
  background-size: cover;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.square {
  background-color: white;
  color: black;
  padding: 40px 25px 40px 25px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 17px 24px -4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 17px 24px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 17px 24px -4px rgba(0, 0, 0, 0.15);
}

.squares {
  position: relative;
  top: -70px;
}
