.header {
  height: 90vh;
  padding-top: 40vh;
  z-index: 1;
  padding-left: 9vw;
  padding-right: 5vw;
}

.header-container-project {
  color: white;
  width: 100vw;
}

.header-container-project img {
  background-size: cover;
  position: relative;
  z-index: -1;
  padding: 0;
}

.header-image {
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

@media (max-width: 768px) {
  .header-image {
    object-position: left;
  }
}

.header-title-container {
  margin-top: -250px;
  margin-bottom: 40px;
}

.header-title {
  height: 60px;
  width: auto;
  animation: glitch-animation 3s infinite;
}

.outlined-text {
  position: relative;
  display: inline-block;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.outlined-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: -1px -1px 0 #c3a3ff, 1px -1px 0 #ffffff, -1px 1px 0 #87d9ff, 1px 1px 0 #ffd06b;
  z-index: -1;
}

@keyframes glitch-animation {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-1px, -1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  60% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) {
  .header-title-container {
    margin-top: -270px;
    margin-bottom: 50px;
  }

  .header-title {
    height: 35px;
  }
}

@media (max-width: 768px) {
  .line-container {
    display: block;
  }
}

.project-container h1 {
  font-size: 3.2rem;
  margin-bottom: 0;
}

.square {
  background-color: white;
  color: black;
  padding: 50px 25px 30px 25px;
  box-shadow: 2px 17px 24px -4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 17px 24px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 17px 24px -4px rgba(0, 0, 0, 0.15);
}

.squares {
  position: relative;
  top: -70px;
}

.project-container {
  width: 100%;
}

.fade-overlay-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0.7) 90%,
    rgba(255, 255, 255, 0.9) 95%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon-square {
  background-color: black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.miro {
  text-decoration: none;
  color: black;
}

.miro:hover {
  color: rgb(37, 37, 37);
}

.icon-square i {
  color: white;
}

.animate-header {
  animation: fadeIn 2s ease-in-out;
}

.animate-duration {
  animation: fadeInUp 3s ease-in-out;
}

.animate-stack {
  animation: fadeInUp 3s ease-in-out;
}

.animate-tasks {
  animation: fadeInUp 3s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
