.text-hover-transition:hover {
  color: #ffffff;
  transition: all 0.3s linear;
  cursor: pointer;
}
.bg-hover-sidebar-admin:hover {
  background-color: #444444;
}
.text-hover-transition {
  color: #bac2d1;
}

h1 {
  height: 85px;
}

@media (max-width: 992px) {
  .btn {
    justify-content: center;
  }
}

.admin-text {
  font-family: "Assistant", sans-serif;
  font-size: 1.2rem;
}
