.banner-img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-img-container > div {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-img-container img {
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .md-banner {
    display: block;
  }
  .sm-banner {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .md-banner {
    display: none;
  }
  .sm-banner {
    display: block;
  }
}
