.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.image-container img {
  filter: brightness(70%);
  object-fit: cover;
}

.image-container h2 {
  font-size: 4.5rem;
  padding-top: 30px;
}

.image-container p {
  font-size: 2.3rem;
}

@media screen and (max-width: 768px) {
  .image-container img {
    height: auto;
  }

  .image-container h2 {
    font-size: 3rem;
    padding-top: 20px;
  }

  .image-container p {
    font-size: 1.6rem;
  }
}

.call-text {
  font-family: "Assistant", sans-serif;
}
