.cart-icon-fixed {
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("src/img/bg_dark_grafitti.jpg");
  background-size: cover;
  border: white solid 2px;
  color: white;
}
.cart-icon-fixed:hover {
  color: #00d4a6;
  cursor: pointer;
}
