.header-container {
  position: relative;
  margin-bottom: 3rem;
}

.header-image2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.header-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.fade-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0.7) 90%,
    rgba(255, 255, 255, 0.9) 95%,
    rgba(255, 255, 255, 1) 100%
  );
}

.logo {
  width: 40%;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  margin-bottom: 60px;
}

.logo-loaded .logo {
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .header-container {
    height: 25vh;
  }
  .logo {
    width: 55%;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .header-container {
    height: 35vh;
  }
  .logo {
    width: 60%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-container {
    height: 45vh;
  }
  .logo {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-container {
    height: 55vh;
  }
  .logo {
    width: 50%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header-container {
    height: 70vh;
  }
  .logo {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .header-container {
    height: 70vh;
  }
  .logo {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .header-container {
    height: 90vh;
  }
  .logo {
    width: 45%;
  }
}
