.content {
  width: 91%;
  height: 35%;
  margin: 25px 18px 0px 18px;
  border: 1px solid gray;
  border-style: dashed;
}

.bag {
  font-size: 2.8rem;
}

.shopping-cart {
  margin-bottom: 90px;
}

.offCanvas {
  width: 35vw;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
  right: -35vw;
  transition: all 0.5s linear;
  top: 0;
}
.show-offCanvas {
  right: 0px;
}

.continue-shopping:hover {
  color: rgb(65, 65, 65);
  cursor: pointer;
}

.offCanvas-bottom {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 30%;
}

.offCanvas-products {
  max-height: 60%;
  overflow-y: auto;
  background-color: white;
}

.offCanvas-top {
  height: 10%;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .offCanvas {
    width: 100vw;
    right: -100vw;
  }
  .show-offCanvas {
    right: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .offCanvas {
    width: 100vw;
    right: -100vw;
  }
  .show-offCanvas {
    right: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .offCanvas {
    width: 70vw;
    right: -70vw;
  }
  .show-offCanvas {
    right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .offCanvas {
    width: 60vw;
    right: -60vw;
  }
  .show-offCanvas {
    right: 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .offCanvas {
    width: 50vw;
    right: -50vw;
  }
  .show-offCanvas {
    right: 0px;
  }
}
